# --- For-Bot-Working --------- #
Pyrogram
loguru
pyromod==1.5
TgCrypto
# --- For-Web-Response ------- #
aiohttp
python-dotenv
# --- For-Database ------------ #
pymongo
dnspython
motor
# --- For Convertor ----- #
PyPDF2
Pillow
# -- for pdf ---#
pymupdf
# -- for auto  rename --- #
hachoir
pytz
psutil
