# --- For-Bot-Working --------- #
git+https://github.com/5hojib/pyrogram-peer-fix.git
pyromod==1.5
loguru
TgCrypto
# --- For-Web-Response ------- #
aiohttp
python-dotenv
# --- For-Database ------------ #
pymongo
dnspython
motor
# --- For Convertor ----- #
pypdf
PyPDF2
Pillow
# -- for pdf ---#
pymupdf
# -- for auto  rename --- #
hachoir
pytz
psutil
# --- For Token--#
cloudscraper
